* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  text-transform: capitalize;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  min-height: 100vh;
  max-width: 100%;
  overflow-x: hidden !important;
}

/* <!-- Header Section --> */
header {
  height: 60vh;
  width: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url("../images/background.jpg");
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header nav ul li {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

header nav ul li a {
  color: #fff;
}

header nav ul li:hover {
  background-color: red;
}

/* header nav ul li:hover a{
      color: yellow;
  } */
header nav ul button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0.5rem;
  color: white;
  cursor: pointer;
  display: none;
}

header nav ul button i {
  font-size: 1.5rem;
}

header .child1 button:hover {
  background-color: red;
}

header nav img {
  width: 154px;
  height: 50px;
  margin: 1rem 2rem;
}

header .child1 {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .child1 h1 {
  color: white;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1rem;
}

header .child1 p {
  color: white;
  text-align: center;
}

header .child1 button {
  margin-top: 1.5rem;
  border: 2px solid white;
  padding: 0.5rem 1rem;
  background-color: transparent;
  outline: none;
  color: white;
}

#mobile_menu {
  position: fixed;
  height: 100vh;
  width: 12rem;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: blueviolet;
  display: none;
}

#mobile_menu .close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  outline: none;
}

#mobile_menu ul {
  list-style: none;
  /* margin: 1rem 2rem; */
}

#mobile_menu ul li {
  margin: 2rem 1rem;
}

#mobile_menu li:hover {
  background-color: rgba(26, 10, 10, 0.247);
  padding-right: 2rem;
  padding-left: 0.4rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

#mobile_menu li a {
  color: #fff;
}

#mobile_menu .close button {
  border: none;
  background-color: transparent;
  font-size: 24px;
  color: #fff;
}

header h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
  margin-top: 5.5rem;
}

section .about-section {
  width: 80%;
  margin: 3rem auto;
  display: -ms-grid;
  display: grid;
  grid-gap: 3rem;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

section .about-section .about1 p {
  margin-top: 1rem;
  text-align: justify;
}

.about-section .about1 button {
  margin-top: 2rem;
  background-color: transparent;
  border: 2px solid rgba(29, 28, 28, 0.514);
  padding: 0.5rem 1rem;
}

@media (max-width: 576px) {
  header nav ul {
    margin-right: 0.5rem;
  }
  header nav ul li {
    display: none;
  }
  header nav ul button {
    display: inline-block;
  }
  .about-section {
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
}

.hr {
  margin-top: 2rem;
}

.about2 {
  text-align: center;
  margin-top: 2rem;
}

.about2 h3 {
  margin-bottom: 0.3rem;
}

.social-media {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0.5rem;
}

.fab {
  margin: 0.5rem;
  font-size: 30px;
}
/*# sourceMappingURL=mystyle.css.map */